@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.button {
  background: $color-dark-button;
  font-size: $font-size-base;
  padding: 17px 60px;
  border-radius: 10px;
  border: 1px solid $color-dark-border;
  color: $color-light-text;
  text-decoration: none;
  display: inline-block;
  align-self: flex-start;
  cursor: pointer;

  @media (max-width: $screen-lg) {
    padding: 12px 40px;
  }

  &:hover {
    background: transparent;
    border: $color-dark-button;
  }
}
