@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.container {
  width: 100%;
  padding: 0 20px;
  position: relative;
  background: $color-light-bg;
  @media (max-width: $screen-sm) {
    padding: 0 10px;
  }

  .contentContainer {
    background: $color-dark;
    width: 100%;
    padding: 40px 0 80px 0;

    .itemsContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 28px;
      .footerText {
        color: $color-light-text;
        text-decoration: none;
        font-size: $font-size-base;
      }
    }
  }
}
