@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;

.container {
  background: $color-bg-dark-90;
  width: 100%;
  padding: 40px 0;
  position: relative;

  .contentContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: $color-light-text;

    @media (max-width: $screen-lg) {
      gap: 20px;
    }

    .testimonial {
      font-size: $font-size-3xl;
      font-weight: 500;
      line-height: 1.2;

      @media (max-width: $screen-lg) {
        font-size: $font-size-xl;
      }

      @media (max-width: $screen-sm) {
        font-size: $font-size-lg;
      }
    }

    .personInfo {
      font-size: $font-size-md;

      @media (max-width: $screen-lg) {
        font-size: $font-size-base;
      }
    }

    .readMoreBtn {
      text-decoration: none;
      font-size: $font-size-base;
      font-weight: 600;
      color: $color-light-text;
    }
  }
}
