@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;

.container {
  width: 100%;
  background: $color-light-bg;
  padding: 40px 0 91px 0;
  position: relative;

  .sectionTitle {
    font-size: $font-size-3xl;
    color: $color-dark;
    font-weight: 600;
    line-height: 1;
    margin: 10px 0;
  }

  .sectionSubtitle {
    font-size: $font-size-md;
    color: $color-dark;
    font-weight: 600;
  }

  .offersContainer {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-top: 88px;
    padding: 0 36px;

    @media (max-width: $screen-lg) {
      gap: 16px;
      padding: 0 16px;
    }

    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: center;
    }
  }
  .pricingNote {
    font-size: $font-size-base;
    color: $color-dark;
    padding: 30px 36px 0px 36px;

    a {
      color: $color-dark;
    }
  }
}
