@use '../../../../styles/variables' as *;
@use '../../../../styles/breakpoints' as *;

.workItem {
  .imageContainer {
    padding: 58px 54px;
    background: $color-dark;

    @media (max-width: $screen-xl) {
      padding: 40px 30px;
    }

    @media (max-width: $screen-sm) {
      padding: 20px 15px;
    }

    .image {
      width: 100%;
      transition: ease-in-out 10s;
      height: 400px;
      background-size: cover;
      background-position: top;
      cursor: pointer;

      &:hover {
        background-position: bottom;
      }
    }
  }

  .workInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    span {
      color: $color-dark;
      font-size: $font-size-md;
      font-weight: 600;

      @media (max-width: $screen-xl) {
        font-size: $font-size-base;
      }
    }
  }
}
