$screen-sm: 576px; // Small devices (landscape phones)
$screen-md: 768px; // Medium devices (tablets)
$screen-lg: 992px; // Large devices (desktops)
$screen-xl: 1200px; // Extra large devices (large desktops)
