// Text color variables
$color-text-primary: #252a1c;

// Background color variables
$color-background-primary: #fffce1;

// Accent color variables
$color-accent-primary: #d96259;

// Container width variables
$container-max-large-desktop: 60rem;
$container-max-desktop: 45rem;

// Font size variables
$font-size-button: 0.75rem;
$font-size-regular: 0.875rem;
