* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-vela-sans), sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

::selection {
  background-color: #252a1c;
  color: #fffce1;
}

::-moz-selection {
  background-color: #252a1c;
  color: #fffce1;
}
