@use '../../styles/variables' as *;

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-light-bg;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
