@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;

.container {
  height: 100dvh;
  background: $color-dark;
  position: relative;
  padding-top: 40px;

  .sectionTitle {
    font-size: $font-size-3xl;
    color: $color-light-text;
    font-weight: 600;
    margin-left: 16%;

    @media (max-width: $screen-lg) {
      font-size: $font-size-2xl;
    }
    @media (max-width: $screen-md) {
      font-size: $font-size-xl;
    }
    @media (max-width: $screen-sm) {
      margin-left: 0;
    }
  }

  .stepText {
    position: absolute;
    top: 50%;
    left: calc(16% + 20px);
    transform: translateY(-50%);
    padding-right: 50px;

    @media (max-width: $screen-sm) {
      left: 20px;
      padding-right: 20px;
    }

    p {
      color: $color-light-text;
      font-weight: 500;
      font-size: $font-size-3xl;

      @media (max-width: $screen-lg) {
        font-size: $font-size-2xl;
      }
      @media (max-width: $screen-md) {
        font-size: $font-size-xl;
      }
      @media (max-width: $screen-sm) {
        font-size: $font-size-lg;
      }
    }

    span {
      color: $color-text-light-20;
      font-size: $font-size-2xl;

      @media (max-width: $screen-lg) {
        font-size: $font-size-xl;
      }
      @media (max-width: $screen-md) {
        font-size: $font-size-lg;
      }
      @media (max-width: $screen-sm) {
        font-size: $font-size-md;
      }
    }
  }
}
